/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --primary-color: #F9F7F7;
    --secondary-color: #DBE2EF;
    --secondary-light-color: #EBF0F7;
    --third-color: #C5CFDE;
    --fourth-color: #3F72AF;
    --fourth-color-lighter: #A5C5E5;
    --fifth-color: #112D4E;
    --red: #E84545;
    --green: #45E86B;
    --black-text: #333333;
    --priority-urgent: #E63946; 
    --priority-important: #FF8C00; 
    --priority-wait: #3F72AF;   
    --priority-whenever: #2A9D8F;     
    --priority-normal: #9B5DE5; 

}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'San Francisco', sans-serif;
    color: var(--black-text);
    background-color: var(--primary-color);
}

.main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: var(--primary-color);
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 2px solid var(--third-color);
}

.footer_sidebar {
    background-color: var(--secondary-color);
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.footer_content {
    background-color: var(--primary-color);
    padding: 10px;
}

footer button:not(.newlist_input button) {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(30deg);}
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
}

.trash_button svg {
    width: 30px;
    height: 30px;
    transition: 0.1s ease-in-out;
}

.trash_button:hover svg {
    fill: var(--red);
    animation: shake 0.3s ease-in-out 1;
}
.addlist_button {
    transition: 0.2s ease-in-out;
    color: var(--black-text);
}

.addlist_button svg g {
    transition: 0.2s ease-in-out;
}

.addlist_button:hover svg g {
    stroke: var(--fourth-color);
}

.addlist_button:hover {
    color: var(--fourth-color);
}

.user {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user h2 {
    font-size: 1.4em;
    font-weight: 500;
}

.user .profile_picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid var(--fourth-color);
}

.user_input {
    background-color: var(--primary-color);
    border: 3px solid var(--third-color);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    margin-top: 10px;
    top: 80px;
}

.user_input div, .newlist_input div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.user_input label, .newlist_input label {
    font-weight: 600;
    color: var(--black-text);
}

#username, #listname, #listdescription {
    width: 100%;
    border: 2px solid var(--black-text);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.user_input input:focus, .newlist_input input:focus, #listdescription:focus {
    border-color: var(--fourth-color) !important;
}

.user_input button {
    background-color: var(--third-color);
    border-radius: 5px;
    padding: 7px;
    color: inherit;
    font-size: 1.2em;
    font-weight: 500;
    border: 2px solid var(--third-color);
    transition: 0.2s;
    cursor: pointer;
}

.user_input button:hover {
    background-color: transparent;
}

.active_arrow {
    transform: rotate(180deg);
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
}

.sidebar ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.05em;
    padding: 5px;
    border-radius: 10px;
}

.sidebar ul .current {
    background-color: var(--fourth-color-lighter);
    color: var(--fourth-color);
}

.sidebar ul .current svg {
    fill: #3F72AF;
}

.add_task button {
    color: var(--fourth-color);
    transition: 0.2s ;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    cursor: pointer;
}


.userAdded span {
    font-size: 28px;
}

.newlist_input {
    background-color: var(--primary-color);
    border: 3px solid var(--third-color);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    margin-top: 10px;
    bottom: 80px;
}

.newlist_input button {
    text-align: center;
    background-color: var(--third-color);
    border-radius: 5px;
    padding: 7px;
    color: inherit;
    font-size: 1.2em;
    font-weight: 500;
    border: 2px solid var(--third-color);
    transition: 0.2s;
    cursor: pointer;
}

.newlist_input button:hover {
    background-color: transparent;
}

.userAdded li {
    padding-block: 0 !important;
}

dialog {
    position: fixed;
    margin: auto;
    inset: 0 0 0 0;
    border-radius: 1rem;
    border: none;
    padding: 0;
    outline: none;
    min-width: 400px;
    background-color: var(--fourth-color);
}

dialog::backdrop {
    background: transparent;
}

dialog h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

dialog form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inner_dialog {
    padding: 20px;
}

dialog form button {
    margin-top: 10px;
    background-color: var(--fourth-color-lighter);
    border: 2px solid var(--fourth-color-lighter);
    border-radius: 10px;
    color: var(--fourth-color);
    padding: 5px;
    font-size: 1.2em;
    transition: 0.2s;
    cursor: pointer;
}

dialog form  button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

dialog input, dialog textarea, dialog select{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid color-mix(in srgb, var(--fourth-color) 80%, black);
}

dialog input:focus, dialog textarea:focus, dialog select:focus{
    border-color: var(--black-text) !important;
    outline: none;
}

textarea {
    resize: none;
}

dialog label {
    font-weight: 600;
    color: var(--primary-color);
}

.close {
    border: 0;
    padding: 3px;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 1px;
    outline: none;
    transition: 0.2s;
    background-color: var(--fourth-color);
}

.add_task button:hover {
    color: var(--black-text);
}

.add_task button:hover svg {
    fill: var(--black-text);
}

.add_task svg {
    transition: 0.2s;
}

/* Content section */

.content {
    padding: 30px 50px 0px;
    position: relative;
    overflow-y: auto;
    max-height: calc(100vh - 53px);
}

.content h1 {
    font-size: 3.6em;
}

.project_description {
    padding-bottom: 30px;
    font-size: 1.2em;
}

.task {
    display: flex; 
    flex-direction: column;
}

.upper_task {
    display: flex; 
    column-gap: 20px;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 15px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.active_collapsible {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.collapsible_content {
    background-color: var(--secondary-light-color);
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active_collapsible, .upper_task:hover {
  background-color: var(--secondary-light-color);
}

.upper_task:after {
  font-size: 1em;
  color: var(--black-text);
  font-weight: bold;
  margin-left: auto;
}

.collapsible_wrapper {
    padding: 5px 59px 15px 59px;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.collapsible_wrapper h4, .collapsible_wrapper p:not(.collapsible_description) {
    white-space: nowrap;
}

.task_duedate {
    background-color: var(--secondary-color);
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

.ontime {
    color: var(--fourth-color);
}

.overdue {
    color: var(--red);
}

.tasks_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.task_name {
    font-size: 1.2em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    margin: 0;
    font: inherit;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid var(--black-text);
    border-radius: 0.2em;
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.2em;
  background-color: var(--dynamic-color, --black-text);
  transform: scale(0);
  transition: 200ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.no_projects_message {
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    font-size: 2.5em !important; 
    color: var(--third-color);
}

.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}


.strikethrough:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	margin-top: -0.7em;
	background: var(--dynamic-color, --black-text);
	transform-origin: center left;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough.animate::after {
    animation: strikethrough 0.5s cubic-bezier(.55, 0, .1, 1) forwards;
}

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

.date_title {
    padding-bottom: 20px;
}

.task_trash_button svg {
    width: 30px;
    height: 30px;
    transition: 0.1s ease-in-out;
}

.task_trash_button:hover svg {
    fill: var(--red);
    animation: shake 0.3s ease-in-out 1;
}

.edit_button:hover svg {
    fill: var(--fourth-color);
}

.active_collapsible .task_buttons {
  opacity: 1;
}

.upper_task:hover .task_buttons {
  opacity: 1;
}


.task_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.edit_button, .task_trash_button {
    cursor: pointer;
}

.edit_button svg {
    width: 22px;
    height: 22px;
    transition: 0.2s ease-in-out;
}

.yes_button svg, .no_button svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.yes_button svg path {
    transition: 0.2s ease-in-out;
}

.no_button svg line {
    transition: 0.2s ease-in-out;
}

.yes_button:hover svg path {
    fill: var(--green);
}

.no_button:hover svg line {
    stroke: var(--red);
}